@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #009ce7,#e748ad);
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    gap:12px;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;
    min-width: 0;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button img{
    width: 24px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}


.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top:50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 12px;
}

.humidity, .wind {
    font-size: 24px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    color: #ebfffc;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 12px;
    display: none;
}
