@font-face {
    font-family: 'Ramsina';
    src: url(fonts/Ramsina.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #151f38;
    color: #ebfffc;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
}

.calculator {
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.calculator-input {
    width: 100%;
    font-size: 4rem;
    height: 70px;
    border: none;
    background-color: #12479d;
    color: #ebfffc; 
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

button{
    height: 50px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2.5rem;
    color: #ebfffc;
}

button:hover {
    background-color: #3a5f9c;

}

.operator {
    color: #ff7abd;
}

.clear {
    background-color: #EC4899;
    border-color: #e9a1c5;
    color: #fff;
}

.clear:hover {
    background-color: #e779b0;
}

.equal-sign {
    background-color: #2362c6;
    border-color: #8cb8d4;
    color: #fff;
    grid-area: 2/4/6/5;
    height: 100%;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 20px;
}


.createdby{
    background: linear-gradient(0deg, #0f2e60, #151f38);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
}

.createdby img {
    background-color: transparent;
    width: 34px;
    height: auto;
}

.createdby p {
    background-color: transparent;
    font-family: 'Ramsina', sans-serif !important;
    font-size: 26px;
    color: #ebfffc;
    margin: 0;
    line-height: 1;
}

